@use '../../styles/media.scss' as *;

.hosts-section {
  margin: 30px 0;
  position: relative;
  width: 100%;
  .host--wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }
  .host {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 25px;
    height: 300px;
    overflow: hidden;
    @include media-query(small-medium) {
      width: 100%;
      flex-direction: column;
      margin-bottom: 0px;
      height: auto;
      border-radius: 0px;
    }

    .host--info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #f5f5f5;
      height: 300px;
      padding: 20px;
      @include media-query(small-medium) {
        margin-left: 0px;
        align-items: flex-start;
        background-color: transparent;
        height: auto;
        padding: 20px 0px;
        h4 {
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }
    }
    img {
      width: fit-content;
      margin-bottom: 10px;
      position: relative;
      @include media-query(small-medium) {
        margin-bottom: 0px;
      }
      @include media-query(mobile) {
        width: 100%;
        height: auto;
      }
    }
    p {
      line-height: 2.25rem;
      font-size: 1.1rem;
      margin: 0px;
      @include media-query(small-medium) {
        line-height: 1.5rem;
      }
    }
    p.small {
      line-height: 1.7rem;
    }
  }
}
