@use 'sass:map';

// _variables.scss or similar
$breakpoints: (
  mobile: 767px,
  tablet: 1023px,
  desktop: 1024px,
  small-medium: 1024px,
);

// _mixins.scss or similar
@mixin media-query($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @if $breakpoint == mobile {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    } @else if $breakpoint == tablet {
      @media (min-width: (map.get($breakpoints, mobile) + 1)) and (max-width: $breakpoint-value) {
        @content;
      }
    } @else if $breakpoint == desktop {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $breakpoint == small-medium {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    } @else if $breakpoint == medium-large {
      @media (min-width: (map.get($breakpoints, mobile) + 1)) {
        @content;
      }
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}
