@mixin sm-viewport {
    @media (min-width: 320px) and (max-width: 640px) {
        @content;
    }
}

@mixin md-viewport {
    @media (min-width: 640px) and (max-width: 1199px) {
        @content;
    }
}

@mixin lg-viewport {
    @media (min-width: 1200px) {
        @content;
    }
}