.contact-section {
  margin: 30px 0;
  .contact-methods-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
  }
  .contact-method {
    position: relative;
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 20px;
  }
}
