@use '../../styles/media.scss' as *;

.contact-section {
  margin: 30px 0;
  .contact-methods-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    width: 100%;
    justify-content: center;
    @include media-query(mobile) {
      flex-direction: column;
      gap: 20px;
    }
  }
  .contact-method {
    position: relative;
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 30px;

    @include media-query(mobile) {
      width: 100%;
    }
  }
}
