.contact-section {
  margin: 30px 0;
  .contact-methods-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 100%;
    padding: 30px;
    border: 1px solid red;
    border-radius: 25px;
  }
}
