@use '../../styles/media.scss' as *;

.header {
  width: 100%;
  position: relative;
  @include media-query(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 150px;
  }
}
