@use '../../styles/media.scss' as *;

.header {
  padding-top: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .desktop-logo {
    display: block;
    @include media-query(small-medium) {
      display: none;
    }
  }

  .mobile-logo {
    display: none;
    @include media-query(small-medium) {
      display: block;
    }
  }

  img {
    height: 60px;
    @include media-query(small-medium) {
      height: 60px;
    }
  }
}
